In [2]:
import pandas as pd

In [6]:
data=pd.read_csv(r"C:\Users\DELL\Downloads\ML Project - Linear Regression Insurance Prediction 16955515670.csv")

In [34]:
data.sample(5)

     age     sex    bmi  children smoker     region     charges
541   20  female  31.79         2     no  southeast   3056.3881
706   51  female  38.06         0    yes  southeast  44400.4064
922   38    male  31.00         1     no  southwest   5488.2620
604   19  female  28.31         0    yes  northwest  17468.9839
337   62    male  27.55         1     no  northwest  13937.6665

In [12]:
data.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [16]:
data.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [196]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   sex       1338 non-null   int32
 1   smoker    1338 non-null   int32
 2   region    1338 non-null   int32
 3   age       1338 non-null   int64
 4   bmi       1338 non-null   float64
 5   children  1338 non-null   int64
 6   charges   1338 non-null   float64
dtypes: float64(2), int32(3), int64(2)
memory usage: 100.2+ KB

In [85]:
from sklearn.preprocessing import LabelEncoder,StandardScaler

In [87]:
enc=LabelEncoder()
df1=data.select_dtypes(include=object)
df2=data.select_dtypes(exclude=object)

In [89]:
df1=df1.select_dtypes(include=object).apply(enc.fit_transform)

In [91]:
df1

Series([], dtype: float64)

In [99]:
data=pd.concat((df1,df2),axis=1)

In [107]:
data.drop(0,axis=1,inplace=True)

In [109]:
data

      sex  smoker  region  age     bmi  children      charges
0       0       1       3   19  27.900         0  16884.92400
1       1       0       2   18  33.770         1   1725.55230
2       1       0       2   28  33.000         3   4449.46200
3       1       0       1   33  22.705         0  21984.47061
4       1       0       1   32  28.880         0   3866.85520
...   ...     ...     ...  ...     ...       ...          ...
1333    1       0       1   50  30.970         3  10600.54830
1334    0       0       0   18  31.920         0   2205.98080
1335    0       0       2   18  36.850         0   1629.83350
1336    0       0       3   21  25.800         0   2007.94500
1337    0       1       1   61  29.070         0  29141.36030

[1338 rows x 7 columns]

In [129]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [131]:
x=data.drop("charges",axis=1)
y=data["charges"]

In [133]:
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state=10,train_size=0.8)

In [138]:
scaler = StandardScaler()
scaler.fit(x_train)

StandardScaler()

In [142]:
scaled_x_train=scaler.transform(x_train)
scaled_x_test=scaler.transform(x_test)

In [144]:
scaled_x_train=pd.DataFrame(scaled_x_train,columns=x_train.columns)
scaled_x_test=pd.DataFrame(scaled_x_test,columns=x_test.columns)

In [136]:
lr=LinearRegression()

In [148]:
lr.fit(scaled_x_train,y_train)

LinearRegression()

In [178]:
lr.score(scaled_x_train,y_train)

0.7633895728397835

In [180]:
lr.score(scaled_x_test,y_test)

0.6957010622294884

In [182]:
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor

In [184]:
lis=[SVR,DecisionTreeRegressor,RandomForestRegressor,KNeighborsRegressor]

In [194]:
for i in lis:
    model=i()
    model.fit(scaled_x_train,y_train)
    print(i)
    print(model.score(scaled_x_train,y_train))
    print(model.score(scaled_x_test,y_test))

<class 'sklearn.svm._classes.SVR'>
-0.09847016598977776
-0.12535230056641056
<class 'sklearn.tree._classes.DecisionTreeRegressor'>
1.0
0.6863635088656037
<class 'sklearn.ensemble._forest.RandomForestRegressor'>
0.978901789365671
0.8050228363223768
<class 'sklearn.neighbors._regression.KNeighborsRegressor'>
0.8873352949303908
0.7748072445254006